canvas {
    margin: 0 auto;
    display: block;
    border: 1px solid black;
    background: url("background.jpg") no-repeat center center;"
}

#instructions {
    margin: 0 auto;
    width: 50%;
    height: 2em;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#inkstone {
    width: 120px;
    height: 230px;
    float: left;
    display: inline-block;
    -webkit-transition: all 1s ease;
         -moz-transition: all 1s ease;
           -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
              transition: all 1s ease;
}

#yue {
    float: right;
    margin-right: 1%;
}

#inkstone:hover{ 
    border: 5px solid #000;
    border-radius: 10%;
}

.color {
    display: inline-block;
    margin-left: 2%;
}
.size {
    display: inline-block;
    margin-left: 2%;
}

button {
    background-color: blue;
    padding: 0.5em;
    font-size: 1.0em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    margin: 1%;

}


