html{
    height: 100%;
    width: 100%;
}

body {
    padding: 0.5em;
    height: 100%;
    width: 100%;
}

section {
    margin: 10px;
}

h4#header {
    font-family: Lato;
    font-size: 2.5em;
    font-weight: 400;
}

.hidden {
  display: none;
}

canvas {
    display: block;
    border: 1px solid black;
    background: url("img/background.jpg") no-repeat center center;"
}

#buttons{
    float: right;
    margin-right: 45px;
}

#instructions {
    font-size: 1.5em;
    font-family: 'Permanent Marker', Helvetica, Arial, sans-serif;
    margin: 0em;
    text-align: center;
}

#inkstone {
    width: 120px;
    display: inline-block;
}

#drawing {
    padding-top: 0em;
    margin: 0em;
    height: 80%;
}

#evolution{
    width: 90%;
}

#main-row{
    margin: 0em;
    height: 100%;
}
#main-row div{
    margin: 0em;
    padding: 0em;
}

.canvas{
    height: 100%;
}
canvas#simple_sketch {
    width: 100%;
}

.gif img{
    width: 100%;
}

p#text {
    font-family: Lato;
    font-size: 1.5em;
    font-weight: 200;
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}
