body {
    padding: 0.5em;
}

section {
    margin: 10px;
}

h4#header {
    font-family: Lato;
    font-size: 2.5em;
    font-weight: 400;
}

.hidden {
  display: none;
}

canvas {
    display: block;
    border: 1px solid black;
    background: url("img/background.jpg") no-repeat center center;"
}

#buttons{
    float: right;
    margin-right: 45px;
}

#instructions {
    font-size: 1.5em;
    font-family: 'Permanent Marker', Helvetica, Arial, sans-serif;
    margin: 0em;
}

#inkstone {
    width: 120px;
    display: inline-block;
}

#drawing {
    padding-top: 0em;
    margin: 0em;
}

.color {
    display: inline-block;
    margin-left: 2%;
}

.size {
    display: inline-block;
    margin-left: 2%;
}

canvas#simple_sketch {
    margin-left: -5px;
}

.gif {
    margin-left: -65px;
}

p#text {
    font-family: Lato;
    font-size: 1.5em;
    font-weight: 200;
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}
